<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid text-center no-bg">
        <h1 class="display-3 cursive">Call Us <span class="mold display-4">at</span></h1>
        <h1>+58-212-963-0829</h1>
        <hr class="my-4">
        <p class="lead">Otherwise send us an email to</p>
        <p class="lead">
          <a class="btn btn-default btn-lg" href="mailto:info@dvipersquad.com">info@dvipersquad.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
